PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/repairmanager?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URLS=https://mernproject-ibnbiskra-8184s-projects.vercel.app,https://mernproject-lb9oq98wb-ibnbiskra-8184s-projects.vercel.app
